{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holiday Homes</title>
    <link rel="stylesheet" href="{% static '/oc_lettings_site/index.css' %}" type="text/css">
</head>
<body>
    <img src="{% static 'oc_lettings_site/fond.jpg' %}" alt="" class="background">
    <h1>Welcome to Holiday Homes</h1>
    <div class="index" ><a id="profiles" href="{% url 'profiles:index' %}">Profiles</a></div>
    <div class="index" ><a id="lettings" href="{% url 'lettings:index' %}">Lettings</a></div>
    <div id="logo"><img src="{% static 'oc_lettings_site/logo.png' %}"></div>
</body>
</html>