.background{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.index{
    position: absolute;
    left: 100px;
}

#home{
    position: absolute;
    left: 800px;
    top:450px;
    color: black;
    font-size: 25px;
}

#home:hover{
    color: blue;
}

#profiles{
    position: absolute;
    left: 200px;
    top:450px;
    color: black;
    font-size: 25px;
}

#profiles:hover{
    color: blue;
}

.letting{
    position: relative;
    left: 80px;
    top:100px;
    color: black;
    font-size: 15px;
}

.letting_link{
    position: relative;
    left: 10px;
    top:0px;
    color: black;
    font-size: 15px;
}

.letting_link:hover{
    color: blue;
}

h1{
    color: red;
    position: absolute;
    top: 0px;
    left: 500px;
}

